DATABASE_URL=mysql://${DB_USER:?}:${DB_PASSWORD:?}@${DB_HOST:-db}:${DB_PORT:-3306}/${DB_NAME:?}
PORT=3000
TOKEN_SECRET=secret
MYSQL_ROOT_PASSWORD=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=express_ts
DB_USER=root
DB_PASSWORD=mysql
